Options +FollowSymLinks
RewriteEngine on
RewriteBase /

# Do not rewrite admin pages
RewriteRule ^(admin)($|/) - [L]

# Rewrite everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?page=$1 [QSA]
