<?php

	// EDIT THIS:
	$DB_host     = 'database_ip';
	$DB_dbName   = 'database_name';
	$DB_username = 'database_username';
	$DB_password = 'database_password';


	// Connect to database
	try {
		$DB = new PDO('mysql:host='.$DB_host.';dbname='.$DB_dbName.';charset=utf8', $DB_username, $DB_password);
	}
	catch(Exception $error){
		die('Cannot connect to database: ' . $error->getMessage());
	}

?>
