body, html {
	margin: 0px;
}
img {
	max-width: 100%;
	height: auto;
	max-height: 100vh;
}
.align-horizontal {
	height: 100vh;
	display: flex;
    justify-content: center;
}

.align-vertical {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
